@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-Inter;
}

.body-no-scroll {
  overflow: hidden;
}

section {
  @apply px-4 py-20 lg:px-[70px] dark:bg-gray-950 dark:text-gray-100;
}

.alt-bg {
  @apply bg-gray-50 dark:bg-gray-900 dark:text-gray-100;
}

.animate-border-b {
  animation: animateBorderBottom linear;
  animation-timeline: scroll();
}

@keyframes animateBorderBottom {
  to {
    @apply border-b-2;
  }
}

/*  */

.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

.shake-br {
  -webkit-animation: shake-br 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-br 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes shake-br {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
