/* poppins family font */
@font-face {
  font-family: poppins;
  src: url(../Google-fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../Google-fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: open-sans;
  src: url(../Google-fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

:root {
  --bg-color: #000000;
  --btn-color: #fccb06;
  --text-color: white;
  --secondary-color: #b1ddf1;
  --alt-color: rgb(12, 10, 10);
  --poppins-font: poppins;
  --roboto-font: roboto;
  --open-sans: open-sans;
}

/* General styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100svh;
  position: relative;
  font-size: 1rem;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
span,
.menu-btn i {
  color: var(--btn-color);
}

img {
  width: 400px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.active-page {
  color: var(--btn-color);
}
/* header */
.header {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: var(--bg-color);
}
.logo p,
.logo a,
.logo span,
i {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  cursor: default;
}
.nav-bar {
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  display: block;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}
.nav-bar.slide {
  transform: translateX(0%);
}
.nav-bar ul {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  gap: 1.25em;
}

.menu-btn {
  padding: 0.625rem;
  z-index: 999;
  position: relative;
}
/* main-page */

.main-page,
.about-me-page,
.project {
  min-height: 100svh;
  padding: 3rem 5% 0;
}

.profile {
  width: 100%;
  min-height: 50vh;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.img-container {
  width: 90vw;
  height: auto;
  max-width: 400px;
  margin: auto;
  padding: 0.4375rem;
  border-radius: 100%;
  transition: all 0.8s ease-in-out;
  border: 5px solid var(--btn-color);
}

.img-container img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content {
  text-align: center;
  padding: 0.625rem;
}

.content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.875rem;
  color: var(--btn-color);
}

.content p {
  font-family: var(--open-sans), Arial, Helvetica, sans-serif;
}
.actionBtn {
  margin: 0.625em 0;
}

.content button {
  background-color: var(--btn-color);
  font-family: var(--roboto-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 0.625em 1.25em;
  border-radius: 50px;
  font-size: large;
  border: none;
  transition: all 0.4s linear;
  margin-left: 1.25rem;
}

.hire-me {
  display: none;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
}

.socials a {
  border: 3px solid var(--text-color);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-me-page {
  display: flex;
  flex-direction: column-reverse;
}

.about-me-page h2 + p {
  margin: 0.3125rem auto;
}

h2 {
  font-size: 2.5rem;
}

.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--bg-color);
}

.project-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-box {
  width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px white;
  overflow: hidden;
  cursor: pointer;
}

.project-box .project-img {
  background-color: white;
  height: 60%;
  padding: 10px;
  overflow: hidden;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-info {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-info p {
  width: 100%;
  padding: 5px;
  font-size: 13px;
  font-family: var(--open-sans);
}

.project-info a {
  font-weight: 600;
  padding: 0.625em 1.25em;
  border-radius: 50px;
  font-size: initial;
  border: none;
  transition: all 0.4s linear;
  margin: 5px;
  border: 2px solid var(--btn-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-top: 2px solid white;
  flex-wrap: wrap;
}
.footer > * {
  margin: 5px;
}

.social-icons a {
  margin: 0px 0.125rem;
}
.social-icons i {
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 100%;
  font-size: 1.25rem;
}
.footer-list {
  display: flex;
  gap: 10px;
}

/* For tablet devices and large phones */
@media (min-width: 600px) {
  img {
    width: 800px;
  }
  .nav-bar {
    width: 50%;
  }
}

/* tablets */
@media (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .nav-bar {
    padding-top: 3rem;
  }

  .content {
    text-align: center;
    padding: 0.3125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .content h1 {
    font-size: 3rem;
  }
}

/* For desktops and laptops */
@media (min-width: 992px) {
  .hire-me {
    display: initial;
  }
  img {
    width: 800px;
  }
  .menu {
    display: none;
  }
  body {
    min-height: 100vh;
  }
  .logo p,
  .logo a,
  .logo span {
    font-size: 2rem;
  }
  .header {
    min-height: 5vh;
    font-size: 1.2rem;
  }
  .header .logo:hover {
    transform: scale(1.1);
  }
  .nav-bar {
    position: initial;
    width: initial;
    min-height: max-content;
    padding-top: initial;
    transform: translateX(0%);
    background-color: initial;
  }
  .nav-bar ul {
    flex-direction: row;
  }
  .nav-bar a {
    border-bottom: 3px solid transparent;
    transition: all 0.4s ease-in-out;
  }
  .nav-bar a:hover {
    border-bottom: 3px solid var(--btn-color);
    color: var(--btn-color);
  }
  /* main */
  .main-page {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3rem;
  }

  .img-container:hover {
    cursor: pointer;
    border: 5px solid var(--btn-color);
    box-shadow: 0px 0px 20px var(--btn-color), 0px 0px 30px var(--btn-color);
  }
  .content {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .content h1,
  .about-me-page h2 {
    font-size: 2.5rem;
  }

  .actionBtn {
    width: 100%;
    margin: 1.25rem;
  }

  .content button:hover {
    cursor: pointer;
  }
  .content .resume:hover {
    transform: translateY(-5px);
    background-color: transparent;
    border: 2px solid var(--btn-color);
  }
  .content .hire-me,
  .project-info a {
    background-color: transparent;
    border: 2px solid var(--btn-color);
  }
  .hire-me:hover,
  .project-info a:hover {
    box-shadow: 0px 0px 10px var(--btn-color);
    transform: scale(1.1);
  }
  .socials a:hover {
    box-shadow: 0 0 12px var(--btn-color);
    border-color: var(--btn-color);
    cursor: pointer;
  }
  .about-me-page {
    flex-direction: initial;
    padding-top: 3rem;
  }
  .about-me-page h2 + p {
    padding: 0.625rem;
  }
}

/* monitors and desktop */
@media (min-width: 1200px) {
  .profile {
    width: 50vw;
  }
  .content {
    padding: 0px 2rem;
  }
  .content h1 {
    font-size: 3rem;
  }
}
